<% if(usuario){ %>
    <%- include('../partials/headers', {usuario:usuario})%>
        <% } else{ %>
            <%- include('../partials/headers', {usuario:false})%>
                <% } %>
                    <div style="margin-top: 8em; margin-left:2em ;  margin-right: 2em;  ; margin-bottom: 2em;">
                        <section class=" border-b py-8">
                            <div class="container mx-auto flex flex-wrap pt-4 pb-12">
                                <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-white-800">
                                    PRODUCTOS DISPONIBLES
                                </h2>
                                <div class="w-full mb-4">
                                    <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
                                </div>
                                <% datos.forEach ( (e)=> { %>

                                    <div style="max-width:33%;" class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                                        <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                                            <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                                                <p class="w-full text-gray-600 text-xs md:text-sm px-6">

                                                    <%= e.Referencia %>
                                                </p>
                                                <div class="w-full font-bold text-xl text-gray-800 px-6">
                                                    <%= e.Nombre %>
                                                </div>
                                                <p class="w-full text-gray-600 text-xs md:text-sm px-6">

                                                    precio
                                                </p>
                                                <div class="w-full font-bold text-xl text-gray-800 px-6">
                                                    <%= e.Precio %>
                                                </div>
                                               
                                            </a>
                                        </div>
                                        <div
                                            class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                                            <div class="flex items-center justify-end">
                                                <a class="waves-effect waves-light btn-small"  href="/agregarProductoCarrito/<%= e._id %>"><i class="material-icons">add_shopping_cart</i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>

                            </div>
                        </section>
                    </div>










                    <%- include('../partials/footer'); %>